.btn_contact {
  background-color: transparent;
  font-size: 1.02rem;
  letter-spacing: 0.2rem;
  text-align: center;
  border: none;
  width: 50px;
  color: var(--text-primary);
  padding: var(--padding-sm) 0;
}

.btn_contact:hover {
  transform: scale(1.2);
  color: var(--text-primary);
  cursor: pointer;
}

.btn_details {
  color: var(--text-primary);
  display: block;
  text-decoration: none;
  font-size: 0.8rem;
  border: none;
  padding: 5px;
  background-color: transparent;
}

.btn_details:hover{
  cursor: pointer;
}

.red:hover {
  color: red;
  text-decoration: underline;
}

.blue:hover {
  color: blue;
  text-decoration: underline;
}


.letterBtnWrap{
  display: flex;
  flex-direction: row;
  position: absolute;

