.flex {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 12vh;
  background-color: var(--main-color);
  color: var(--text-primary);
}
.border {
  padding: 5px;
  margin-top: 30px;
  /* border: 1px solid black; */
}
.middleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}



.containerHeader{
  font-size: var(--font-sml);

}

.leftsideContainer {
  width: 25vw;
  justify-content: center;
  display: flex;
}

.addForm{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.addForm > * {
  margin: var(--margin-sm) 0;
}

.addButton{
  
    padding: var(--padding-sm) var(--padding-sm);
    background-color: var(--text-primary);
    color: var(--main-color);
    border: 1px solid var(--text-primary);
    
  
}

.formHeader{
  font-size: var(--font-sml);
}

.rightsideContainer {
  width: 25vw;

  display: flex;
  justify-content: center;
}

.border p {
  width: 100%;
  border-bottom: 2px solid var(--text-primary);
  /* padding: 10px 10px 2px 0px; */
  padding: var(--padding-sm);
  padding-left: 0;
}
.child {
  padding-top: 10px;
  width: 50vw;
}
.middleContainer .child {
  display: flex;
  justify-content: space-between;
  color: var(--text-primary);
}

.rightside_container p{
  border: none;
}
.add_contact {
  width: 100%;
}


@media screen and (max-width: 420px){
  .flex{
    flex-direction: column;
  }
  .leftsideContainer{
    width: 100%;
  }
  .midContent{
    width: 100%;
    padding: 0 var(--padding-lg);
  }
  .child{
    width: 100%;
  }
}