.body {
  height: 100vh;
  background-image: url('../images/svg/dashboard-background.svg');
  background-repeat: no-repeat;
  background-position: left bottom;
  font-family: var(--main-font);
}

.flex {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 12vh;
  background-color: transparent;
  color: var(--text-primary);
  margin-left: auto;
  margin-right: auto;
}
.border {
  padding: 5px;
  margin-top: 30px;
  /* border: 1px solid black; */
}
.middleContainer {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.containerHeader {
  font-size: var(--font-sml);
}

.leftsideContainer {
  width: 100%;
  justify-content: center;
  display: flex;
}

.addForm {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
.addForm > * {
  margin: var(--margin-sm) 0;
}

.new_contact_column {
  width: 100%;
}

.addButton {
  padding: var(--padding-sm) var(--padding-sm);
  color: grey;
  border: none;
  width: 5vw;
  background-color: transparent;
}

.addButton:hover {
  color: black;
}

.formHeader {
  font-size: var(--font-sml);
}

.rightsideContainer {
  width: 25vw;

  display: flex;
  justify-content: center;
}

.border p {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  /* padding: 10px 10px 2px 0px; */
  padding: var(--padding-sm);
  padding-left: 0;
}
.child {
  padding-top: 10px;
  width: 50vw;
}
.middleContainer .child {
  display: flex;
  justify-content: space-between;
  color: var(--text-primary);
}

.rightside_container p {
  border: none;
}
.add_contact {
  width: 100%;
}

@media screen and (max-width: 420px) {
  .flex {
    flex-direction: column;
  }
  .leftsideContainer {
    width: 100%;
  }
  .midContent {
    width: 100%;
    padding: 0 var(--padding-lg);
  }
  .child {
    width: 100%;
  }
}
