.header{
  font-size: 5rem;
}

.dashLink{
  position: absolute;
  top: 1rem;
  right: 5rem;
  font-size: 2rem;
 
}

.wrapper{
  display: flex;
  position: relative;
  flex-direction: column;
}

.nav{
  display: flex;
  background-color: var(--main-color);
  height: 10vh;
  align-items: center;
  position: relative;
  width: 100%;
}

.logoWrapper{
  display: flex;
  margin: var(--margin-md);
}

.logo{
  width: 50px;
}

.loginOption{
  margin: var(--margin-sm);
}