/* LAYOUT NAV */

.nav {
  display: flex;
  background-color: var(--main-color);
  height: 10vh;
  align-items: center;
  position: relative;
  width: 100%;
}

.logoWrapper {
  display: flex;
  margin: var(--margin-md);
}

.logo {
  width: 50px;
  filter: var(--fill);
}

.loginOption {
  margin: var(--margin-sm);
  filter: var(--fill);
}

.userName {
  margin: 0 var(--margin-sm);
}

.themeToggle {
  cursor: pointer;
  margin: var(--margin-md);
}

/* LANDING */

.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  background: -moz-linear-gradient(
    180deg,
    rgba(250, 235, 215, 1) 0%,
    rgba(215, 230, 250, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(250, 235, 215, 1) 0%,
    rgba(215, 230, 250, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(250, 235, 215, 1) 0%,
    rgba(215, 230, 250, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#faebd7",endColorstr="#d7e6fa",GradientType=1);
  background: var(--main-color);
  color: var(--text-primary);
}

.layout {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, minmax(85vh, 1fr));
  grid-template-areas:
    'sec1'
    'sec2'
    'sec3'
    'sec4'
    'sec5';
}

.sectionOne {
  /* background-color: var(--main-color); */
  grid-area: sec1;
  display: flex;
  flex-direction: row;
}

.sec1Hidden {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
  text-align: left;
  position: relative;
}
.sec1Left {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
  text-align: left;
  position: relative;
}

.landingCta {
  display: flex;
  flex-direction: column;
  margin-left: var(--margin-lg);
}
.header {
  font-size: var(--font-lg);
  width: 15ch;
  margin: var(--margin-md) 0;
}

.sec1Right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.ctaText {
  text-align: left;
  margin: var(--margin-sm) 0;
  font-size: var(--font-mds);
  max-width: 35ch;
}

.ctaButton {
  background-color: var(--comp-color);
  border: 1px solid var(--text-primary);
  border-radius: var(--border-radius);
  z-index: 4;
  max-width: 150px;
  width: 100%;
  align-self: center;
  margin: var(--margin-md) 0;
  padding: var(--padding-md) var(--padding-sm);
}

.ctaButton:hover {
  cursor: pointer;
  background-color: blanchedalmond;
}

/* SECTION TWO */

.sectionTwo {
  /* background-color: var(--main-color); */
  grid-area: sec2;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

.sec2header {
  position: relative;
  font-size: var(--font-mdl);
  top: 10rem;
}

.benefitsWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  /* padding-bottom: var(--padding-lg); */
}

.benefitCard:nth-child(1) {
  transition-delay: 200ms;
}
.benefitCard:nth-child(2) {
  transition-delay: 300ms;
}
.benefitCard:nth-child(3) {
  transition-delay: 400ms;
}

.flockWrapper {
  position: absolute;
  top: -18rem;
  left: -25rem;
  filter: var(--fill);
}

.benefitCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  max-height: 300px;
  min-height: 300px;
  max-width: 250px;
  border: 1px solid var(--text-primary);
  margin: var(--margin-md);
  padding: var(--padding-md);
  border-radius: var(--border-radius);
  background-color: var(--main-color);
}

.benefitCardTop {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.benefitCardBottom {
  height: 100%;
}
.benefitCardBottom > h2 {
  margin: var(--margin-sm);
}

.windWrapper {
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: -12rem;
  right: 7rem;
  filter: var(--fill);
}

.cardImageWrapper {
  margin: var(--margin-md);
  filter: var(--fill);
}
.cardImage {
  width: 60px;
  height: 60px;
}

/* Section Three */

.sectionThree {
  /* background-color: var(--main-color); */
  grid-area: sec3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: var(--padding-lg);
}
.secThreeRight {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.secThreeRight > * {
  margin: var(--margin-md);
}

.secThreeLeft {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: var(--margin-md);
  padding: var(--padding-lg);
}

.threeHeader {
  font-size: var(--font-mdl);
  width: 25ch;
}
.threeTalk {
  width: 50ch;
  font-size: var(--font-sml);
}
.secThreeImageWrapper {
  display: flex;
  justify-content: flex-end;
}
.relaxImage {
  transform: scaleX(-1);
  width: 500px;
  filter: var(--fill);
}

/* SECTION FOUR */

.sectionFour {
  /* background-color: var(--main-color); */
  grid-area: sec4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.testimonialWrapper {
  border: 1px solid var(--text-primary);
  border-radius: var(--border-radius);
  display: flex;
  overflow: scroll;
  max-width: 800px;
  margin: var(--margin-md);
  width: 100%;
}

.testimonialWrapper:nth-child(1) {
  animation-delay: 1s;
}

.testiCard {
  width: 100%;
  height: 100%;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: fade 1s forwards;
}

.testiImageWrapper {
  width: 70px;
}

.testiInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testiInfo > * {
  margin: var(--margin-md);
}

.rightArrow {
  position: absolute;
  right: 1rem;
  top: 5rem;
  filter: var(--fill);
}
.rightArrow:hover {
  cursor: pointer;
}

.rightArrow > img {
  width: 50px;
  height: 50px;
}

.leftArrow {
  position: absolute;
  left: 1rem;
  top: 5rem;
  filter: var(--fill);
}

.leftArrow > img {
  width: 50px;
  height: 50px;
}

.leftArrow:hover {
  cursor: pointer;
}

.testiHeader {
  font-size: var(--font-md);
}

.testiMessage {
  font-size: var(--font-mds);
  max-width: 35ch;
  text-align: center;
}

.testiCard > * {
  margin: var(--margin-md);
}

.secFourBot {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--margin-md);
  padding: var(--padding-md);
}

.secFourHeader {
  font-size: var(--font-mdl);
  margin: var(--margin-md);
}

.secFourBirdsWrapper {
  position: absolute;
  overflow: hidden;
  bottom: -5rem;
  right: -21rem;
  width: 800px;
  filter: var(--fill);
}

/* SECTION FIVE */
.sectionFive {
  /* background-color: var(--main-color); */
  grid-area: sec5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: var(--margin-lg);
  padding-bottom: var(--padding-lg);
  /* min-height: 50vh; */
}

.sec5Left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec5Right {
  width: 0;
}

.sec5Header {
  max-width: 35ch;
  text-align: center;
  font-size: var(--font-md);
}
.ctaButton2 {
  background-color: var(--accent-color);
  border: 1px solid white;
  border-radius: var(--border-radius);
  z-index: 4;
  max-width: 150px;
  width: 100%;
  align-self: center;
  margin: var(--margin-md) 0;
  padding: var(--padding-md) var(--padding-sm);
}

.ctaButton2:hover {
  cursor: pointer;
  background-color: var(--accent-color);
}

/* Footer */
.footerWrapper {
  height: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-lg) 0;
  margin: var(--margin-lg) 0;
}

/* ANIMATION */

.hidden {
  opacity: 0;
  transition: all 1s;
}

.show {
  opacity: 1;
  transition: all 1.2s;
}

.secThreeLeft:nth-child(1) {
  transition-delay: 300ms;
}

.secThreeRight:nth-child(1) {
  transition-delay: 300ms;
}

.out {
  transform: translateX(-100%);
}

.zoom {
  transform: translateX(0%);
  transition: all 1s;
}

@media screen and (max-width: 420px) {
  .layout {
    grid-template-rows: repeat(5, minmax(100vh, 1fr));
  }
  .header {
    font-size: var(--font-mdl);
  }
  .sectionOne {
    flex-direction: column;
    max-width: 420px;
  }
  .sec1Left {
    align-items: center;
  }
  .sec1Left > * {
    margin: var(--margin-lg);
  }
  .sec1Right {
    width: 85%;
  }
  .sec2header {
    top: 0;
    text-align: center;
    font-size: var(--font-md);
  }
  .flockWrapper {
    top: -18rem;
    left: -5rem;
  }
  .benefitsWrapper {
    flex-direction: column;
    max-width: 420px;
  }
  .sectionThree {
    flex-direction: column-reverse;
    justify-content: flex-start;
    padding: var(--padding-md) 0;
  }
  .secThreeImageWrapper {
    justify-content: flex-start;
  }

  .secThreeRight > * {
    margin: var(--margin-md) auto;
    width: 100%;
  }

  .threeHeader {
    max-width: 15ch;
    font-size: var(--font-mdl);
  }
  .threeTalk {
    max-width: 30ch;
  }
  .relaxImage {
    width: 350px;
    height: 200px;
  }
  .windWrapper {
    width: 200px;
    height: 200px;
    bottom: -17rem;
    right: 5rem;
  }
  .testimonialWrapper {
    max-width: 425px;
    margin: 0 var(--margin-md);
  }

  .testiCard {
    max-width: 425px;
    min-width: 0;
  }
  .leftArrow {
    top: 1rem;
  }
  .rightArrow {
    top: 1rem;
  }
}
