/*CSS VARIABLES. use them in your modules like this
color: var(--main-color);
font-size: var(--font-lg);
Helps with consistency across our components
*/

:root{
  --font-lg: 3rem;
  --font-md: 1.5rem;
  --font-sm: 1rem;
  --main-color: #f5f5f5;
  --accent-color: ##BFB5B5;
  --margin-sm: 0.5rem;
  --margin-md: 1rem;
  --margin-lg: 2rem;
  --padding-sm: 0.5rem;
  --padding-md: 1rem;
  --padding-lg: 2rem;
  

}





/* 
CSS RESET- DON'T REMOVE */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}