.container {
  position: fixed;
  width: 100vw;
  background-color: var(--main-color);
  z-index: 3;
}

.links {
  font-size: 1.5rem;
  text-decoration: none;
  width: 20%;
}

.links:hover {
  text-decoration: underline;
  font-weight: 600;
}

.flex, .anchor {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.anchor {
  text-decoration: none;
  padding: 10px;
  color: var(--text-primary);
}

.blur {
  text-decoration: none;
  padding: 10px;
  color: black;
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.blur:hover {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  color: black;
  
}
