.container {
  font-family: var(--main-font);
  position: fixed;
  width: 100vw;
  background-color: var(--transparent);
  z-index: 3;
  padding-top: 20px;
}

.theme {
  padding-left: 30px;
}

.links {
  font-size: 1.5rem;
  text-decoration: none;
  width: 20%;
}

.links:hover {
  text-decoration: underline;
}

.flex,
.anchor {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.anchor {
  text-decoration: none;
  padding: 10px;
  color: var(--text-primary);
}

.blur {
  text-decoration: none;
  padding: 10px;
  color: black;
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.blur:hover {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  color: black;
  
}

.links::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

.links:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.links::before {
  content: " ";
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: rgba(224, 213, 213, 0.253);
  z-index: -1;
  transition: transform 1.5s ease;
}
