.body {
  height: 100vh;
  background-image: url('../images/svg/dashboard-background.svg');
  background-repeat: no-repeat;
  background-position: left bottom;
}

.middleContainer {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--main-font);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.flex {
  display: flex;
  color: var(--text-primary);
  padding-top: 10vh;
}

.letter_date {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.hover_letter {
  display: flex;
  height: 40px;
  align-items: flex-end;
}

.open_letter_header {
  display: flex;
  height: 41px;
  align-items: flex-end;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.open_letter_body {
  display: flex;
  align-items: flex-end;
  width: 45vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 13px;
}

.empty {
  color: var(--text-primary);
}

.flex p {
  text-align: left;
  font-size: 16px;
  padding-right: 42px;
}

.flex span {
  font-size: 13px;
}

.marginTop {
  padding-top: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 50vw;
}

.closedLetter {
  height: 30px;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.border_top {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}

.noneHeader {
  color: var(--text-primary);
  font-size: var(--font-sml);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.leftsideContainer {
  /* width: 25vw; */
  justify-content: center;
  display: flex;
}
.rightsideContainer {
  /* width: 25vw; */
  /* position:fixed; */
  right: -2px;
  top: 30%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 420px) {
  .flex {
    flex-direction: column;
  }
  .leftsideContainer {
    width: 100%;
  }
  .middleContainer {
    width: 100%;
    padding: 0 var(--padding-lg);
  }
  .child {
    width: 100%;
  }
}
