.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
}

.flex p {
  
  text-align: left;
}
.marginTop{
  padding-top: 100px;
  border-bottom: 2px solid black;
  width: 50vw;
}

.closedLetter{
  height:30px;
  width:50vw;
  border-top:2px solid black
}

.border_top{
  border-top: 2px solid black;
  width: 50vw;
}

